@model LoginViewModel
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <img src="~/images/CTBC-New-Logo.png" alt="" width="300" height="98">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Payroll Partner</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off" action="@Url.Action("Login","Login")">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="userid" placeholder="Enter Username" required="" autofocus="" style="text-align: center">
                                <div class="invalid-feedback">
                                    Username is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">Password</label>
                                </div>
                                <input id="password" name="pwd" type="password" placeholder="Enter password" class="form-control" required="" autofocus="" style="text-align: center">
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>
                            <div class="align-items-center">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            CONVERSION PROGRAM
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 mb-5 text-muted">
                    &copy; @DateTime.Now.Year - CTBC BANK (PHILIPPINES) CORP.
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("form").submit(function () {
            //encryption here
        })

        var loginNotif = "@TempData["Login"]";
        if (loginNotif != "") {
            swal("Login Error", "@TempData["Login"]", "error");
        }

        $('#username').keyup(function () {
            this.value = this.value.toUpperCase();
        });

    });

    //login validation
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>